body {
  margin:0;
  padding:0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    'header objective .'
    'l-job-1 job-1 r-job-1'
    'l-job-2 job-2 r-job-2'
    'l-job-3 job-3 r-job-3'
    '. skills .'
    '. education .'
    '. footer .';
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(180, 180, 180, 0.5);
  padding: 25px;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: auto;
    /* a (probably goofy) way to tighten the job header gaps */
    grid-template-rows: auto auto 25px auto auto 25px auto auto 25px;
    grid-template-areas:
      'header'
      'objective'
      'l-job-1'
      'r-job-1'
      'job-1'
      'l-job-2'
      'r-job-2'
      'job-2'
      'l-job-3'
      'r-job-3'
      'job-3'
      'skills'
      'education'
      'footer';
  }

  .mobile-justified {
    text-align: end;
  }

  .justified {
    border-bottom: 1px dotted #666;
  }
}

.header {
  grid-area: header;
}

.objective {
  grid-area: objective;
}

.l-job-1 {
  grid-area: l-job-1;
}

.job-1 {
  grid-area: job-1;
}

.r-job-1 {
  grid-area: r-job-1;
}

.l-job-2 {
  grid-area: l-job-2;
}

.job-2 {
  grid-area: job-2;
}

.r-job-2 {
  grid-area: r-job-2;
}

.l-job-3 {
  grid-area: l-job-3;
}

.job-3 {
  grid-area: job-3;
}

.r-job-3 {
  grid-area: r-job-3;
}

.skills {
  grid-area: skills;
}

.education {
  grid-area: education;
}

.footer {
  grid-area: footer;
}

.breaker {
  border-bottom: 1px solid #666;
}

.justified {
  text-align: end;
}