body {
  margin:0;
  padding:0;
}

.container {
  display: grid;
  grid-template-columns: auto 250px 250px auto;
  grid-template-rows: 72px auto 48px;
  grid-template-areas:
    "l-gutter header header r-gutter"
    "l-gutter main-1 main-2 r-gutter"
    "l-gutter footer footer r-gutter";
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-size: 8px 8px;
  background-image: linear-gradient(to right, grey 0.1px, transparent 1px), linear-gradient(to bottom, grey 0.5px, transparent 1px);
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'header header'
    'main-1 main-2'
    'footer footer';
  }
}

.header {
  background-color: rgb(255, 174, 0);
  grid-area: header;
}

.main-1 {
  grid-area: main-1;
  padding-top: 36px;
}

.main-2 {
  grid-area: main-2;
  padding-top: 36px;
}

.gutter {
  background-color: rgba(180, 180, 180, 0.5);
}

.footer {
  grid-area: footer;
  background-color: #0596ec;
}

.l-gutter {
  grid-area: l-gutter;
}

.r-gutter {
  grid-area: r-gutter;
}

.emoji a {
  font-size: 6rem;
  vertical-align: middle;
  text-decoration: none;
}