body {
  margin:0;
  padding:0;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas:
    "l-gutter main r-gutter";
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.main {
  grid-area: main;
}

.l-gutter {
  grid-area: l-gutter;
}

.r-gutter {
  grid-area: r-gutter;
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
      "l-gutter main r-gutter";
  }
}

.main > img {
  object-fit: cover;
  width: 100%;
}