body {background-color: red}
h6 {font-family:Lucida Sans Unicode; color:white; font-size:16pt; margin-left: 300px}
p {font-family:Lucida Sans Unicode; color:white; font-size:14pt}
a:link     {color:white}
